<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E8GJJV71XT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E8GJJV71XT');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{GOOGLE_SITE_VERIFICATION}}
  <title>{{TITLE}}</title>
  <meta name="description" content="{{DESCRIPTION}}" />
  <link rel="icon" href="./assets/images/favicon.svg" type="image/svg+xml" />
  <link rel="stylesheet" href="./output.css" />
  {{EXTRA_HEAD}}
</head>
<body class="{{BODY_CLASS}}">
